body{
    background-color: rgb(218, 237, 200);
}
li{
    list-style-type:auto;
    margin: 8px;
}
button{
    border-radius: 5px;
    border: 2px solid black;
    background-color:coral;
    color: white;
    height: 25px;
    margin-left: 5px;
}
